.side-navbar {
    transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #8bc5ec;
}

.nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}